/* Tags */
p {
    text-align: justify;
    vertical-align: middle;
}

h4 {
    text-decoration: underline;
}

/* Navigation menu */
ul li ul.dropdown {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 200px;
    padding:0;
}

ul.nav li:hover, ul li:hover ul.dropdown {
    display: block;
    background-color: blue;
}

ul li ul.dropdown li {
    padding: 5px 10px 5px 10px;
    text-align: left;
    display: block;
}

ul li ul.dropdown li:hover{
    display: block;
    background-color: orange;

}

ul li ul.dropdown a li {
    width: 100%;
    color: #FFFFFF;
}
ul li ul.dropdown a:hover {
    text-decoration: none;
}

/* banner and footer*/
.banner {
    color: inherit;
    float: left;
    width: 100%;
    height: 285px;
    margin: 40px 0 0 0;
    text-align: center;
    background-image: url("Images/customPageBodyColor.jpg");
}

.search {
    width: 250px;
    float: right;
}

footer {
    padding: 55px;
}

/* Temporary image placeholder */
.imgPlaceholder {
    height: 150px;
    width: 200px;
    color: yellow;
    float: left;
    margin: 10px 10px 10px 10px;
}

.imgPlaceholderHome {
    height: 170px;
    width: 210px;
    color: green;
    text-align: justify;
    border: 1px solid black;
}

.imgPlaceholderPartner {
    width: 157px;
    height: 157px;
    border: 1px solid #000000;
}

.imgPlaceholderCert {
    height: 117px;
    width: 114px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.imgPlaceholderPlat {
    height: 90px;
    width: 114px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.imgPlaceholderTrain {
    width: 240px;
    height: 145px;
    float: left;
    margin: 10px 10px 10px 10px;
}

/* Mobile and other devices */
@media screen and (max-width: 400px) {
    footer {
        visibility: hidden;
    }
    .bottomNav {
        visibility: hidden;
    }
}