
@{
    ViewBag.Title = "The History of ICAST";
}

<div class="row">
    <h2>The History of ICAST</h2>
    <hr style="border-color:green" />
    <h3>Our History</h3>
    <p>Ravi Malhotra founded ICAST in 2002 as an initiative in the Engineering School at the University of Colorado at Boulder. Shortly after, ICAST registered as an independent organization and later moved to the Colorado School of Mines campus. We established our Lakewood office in 2007.</p>
    <p>From our inception, ICAST has worked to provide a triple bottom line impact, bringing about sustainable solutions for underserved communities. We initially used a service learning model as the keystone for all projects; students and others entering an innovative workforce were responsible for the execution of projects that were conceptualized, monitored and evaluated by ICAST staff engineers, professors and executive leaders.</p>
    <p>With more employees, ICAST now focuses on assisting rural communities and low-income families by providing assessment of resources, technology development and implementation, and identifying sustainable solutions.</p>
    <p>We have developed and implemented numerous programs, including social venture development, which has allowed several start-ups to bring technologies and innovative business practices to the market. For several years, ICAST has focused on technology development, sustainable business solutions, and projects focused on innovative energy-related programs.</p>
</div>

<div class="row">
    <hr />
    <div class="col-md-8">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>