
@{
    ViewBag.Title = "ICAST_Partners";
}

<h2>ICAST Partners</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>ICAST partners with government agencies, educational institutions, nonprofit organizations and industry partners to create a triple bottom line impact. Below is just a partial list of the many groups that have helped us make positive community impacts.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="http://portal.hud.gov/hudportal/HUD"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-01.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.macfound.org/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-02.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.housingnm.org/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-15.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.chfainfo.com/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-cfha.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="http://www.gatesfamilyfoundation.org/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-11.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.emnrd.state.nm.us/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-emnrd.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.denverhousing.org/Pages/default.aspx"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-dha.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.denvergov.org/Default.aspx?alias=www.denvergov.org/strategicpartnerships"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-12.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="https://www.telluridefoundation.org/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-14.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.colorado.gov/cs/Satellite/DOLA-Main/CBON/1251592178018"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-co-doh (1).jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.energy.gov/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-doe.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.usda.gov/wps/portal/usda/usdahome"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-07.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="http://www.eda.gov/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-18.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="https://www.steelestreet.com/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-09.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="https://www.soopercu.org/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-sooper.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.fundingpartners.org/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-funding.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="https://www.alpinebank.com/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-alpine-bank.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.xcelenergy.com/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-08.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="https://www.encana.com/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-encana.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.colorado.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-cu-boulder.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="http://www.du.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-university-denver.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.colostate.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-csu-fort-collins.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.colostate-pueblo.edu/Pages/default.aspx"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-csu-Pueblo.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.jhu.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-johns-hopkins.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6">
        <a href="https://www.mines.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-school-of-mines.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.thunderbird.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/logo-thunderbird.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.regis.edu/"><img class="imgPlaceholderPartner" src="~/Content/Images/resource-smart-green-property-rehab-partners-resources-10.jpg" /></a>
    </div>
    <div class="col-md-2 col-xs-6">
        <a href="http://www.epa.gov/"><img class="imgPlaceholderPartner" src="~/Content/Images/epa.jpg" /></a>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>