@{
    ViewBag.Title = "ResourceSmart_Board";
}

<h2>About the ResourceSmart Board Members</h2>
<hr />
<h3>ResourceSmart Executive Board Members</h3>
<div class="row">
    <p>
        <span class="imgPlaceholder">Picture of Jerry</span><strong>Jerry Tinianow</strong><br />Jerry Tinianow is Denver’s first Chief Sustainability Officer. He coordinates the efforts of all city agencies and their 11,000 employees in achieving the City’s 2020 Sustainability Goals. These goals, among the most comprehensive and ambitious of any municipality in the U.S., seek to ensure that the basic resources upon which economic activity and quality of life depend are available and affordable to everyone in Denver, both today and tomorrow. Jerry’s office focuses on achieving 2020 goals for twelve resource groups: air quality, climate stability, energy, food, health, housing, land use, materials, mobility, water quantity, water quality and workforce.
    </p>
    <p>
        Jerry previously served as the Director of the Center for Energy and Environment at the Mid-Ohio Regional Planning Commission in Columbus. He fostered a number of cutting-edge initiatives, including the nation’s first regional food system assessment and plan; Ohio’s largest balanced growth planning project; and Ohio’s first regional climate change adaptation project.
    </p>
    <p>
        Prior to his service at MORPC, Jerry was the Ohio Executive Director of the National Audubon Society, the nation’s premier bird conservation organization. He organized the largest capital campaign in Audubon’s history ($13.7 million) and developed the Grange Insurance Audubon Center, an award-winning LEED-Gold nature education center located just a mile south of downtown Columbus. An attorney by trade, Jerry practiced as a commercial trial attorney representing businesses of all sizes for over 20 years, and was a partner in two of Ohio’s largest law firms. He had a long career as a volunteer in conservation, including service as a national vice president of The Sierra Club, which named him as one of its national “Environmental Heroes” during its centennial celebration.
    </p>
    <p>
        Jerry was born in Springfield, Ohio and raised in the Cleveland area. Prior to moving to Denver he spent his entire career working in Cleveland and Columbus. He received his undergraduate and law degrees from The George Washington University in Washington, D.C.
    </p>
</div>
<div class="row">
    <p>
        <span class="imgPlaceholder">Picture of Rodger Hara</span><strong>Rodger Hara</strong><br />Rodger Hara serves as Principal for Community Builders Realty Services, where he leads strategic planning advisory services for the design, development, financing, construction and operation of market rate and affordable rental housing through a comprehensive analysis of clients’ goals, needs, capacities and evaluation of markets, resources, potentials, pitfalls and possibilities.
    </p>
    <p>
        Rodger brings extensive experience with and knowledge of apartment design, development, financing, construction and operations, including unique familiarity with HUD/FHA financing, Low Income Housing Tax Credit and tax-exempt bond programs. His previous work includes 10 years at HUD, 7 years at the Colorado Housing and Finance Authority and 23 years in private sector mortgage banking combined with a significant commitment to community service.
    </p>
    <p>Rodger also serves on boards for the Denver Center for the Performing Arts and the Housing & Homelessness Funders Collaborative. He earned a B.S. in Business Administration from the University of Denver.</p>
</div>
<div class="row">
    <p>
        <span class="imgPlaceholder">Picture of Joseph Montoya</span><strong>Joseph Montoya</strong><br />Joseph Montoya is the Deputy Director of Programs for the New Mexico Mortgage Finance Authority, a position he has held since April 2006. As the program director, he oversees all of the programmatic and new development initiatives. His portfolio encompasses program administration, asset management, community development and housing development, as well as assisting in crafting MFA’s legislative agenda.
    </p>
    <p>
        Previously, Mr. Montoya was the Community Service Director for the City of Santa Fe over a number of years and served as Executive Director of the Albuquerque Civic Trust. Mr. Montoya also maintained a private consultant practice with a concentration on developing housing, economic development, land use, smart growth plans and policies. He was the former board president and founding board member of 1,000 Friends of New Mexico as well.
    </p>
    <p>Mr. Montoya currently sits on the board of the Mora Valley Historic Foundation. He has garnered several national awards, including Ford Foundation/Kennedy School of Government Innovations in American Government Award, Pew Partnership for Civic Change Award, James C. Howland Urban Enrichment Award and, finally, the National American Planning Association Award for Implementation. Mr. Montoya holds a Bachelor of Science degree in Architecture (1989) and a Bachelor of Arts degree in University Studies (1988) from the University of New Mexico. He is a member of American Planning Association, Urban Land Institute, National Community Development Association and Lambda Alpha International.</p>
</div>
<div class="row">
    <p>
        <span class="imgPlaceholder">Picture of Paul Major</span><strong>Paul Major</strong><br />Paul Major has served as the President and CEO of the Telluride Foundation since its inception in June 2000. Major leads the Foundation’s multimillion-dollar development, grant-making, capacity building and initiative efforts.
    </p>
    <p>Prior to the Telluride Foundation, Major worked as the Director of Business Development for Booth Creek Ski Holdings six resorts. Major’s ski industry experience began in 1984 with the U.S. Ski Team in Park City, UT. He served as the Vice President of Athletics and Alpine Olympic ski coach, directing and managing all athletic aspects of the 6 Olympic sports of the U.S. Ski Team including 200 athletes, 60 staff and 50,000 members. Major is a board member of the Colorado Association of Funders, Bright Futures for Early Childhood and Families, Mobile Accord and the Council on Foundation Community Foundation Leadership Team and chairs the Technology Task Force.</p>
</div>
<div class="row">
    <p><span class="imgPlaceholder">Picture of Joshua Smith</span><strong>Joshua Smith</strong><br />A Colorado native, Josh graduated  from  the University of Colorado with a BS in Finance in 1996. His career began in the mutual fund industry where it took him from Denver, to Boston and overseas. Returning to the Western US in 2005, Josh moved to Albuquerque with his wife and child in 2007, beginning his career in banking.  Now a commercial  loan officer specializing in multi-family, retail and other commercial real estate properties, Josh appreciates the need for well planned development and economic growth.  Josh sits on the Executive Management Committee of the Urban Land Institute (ULI) NM, and the Board of Directors of the Apartment Association of New Mexico (AANM), holding the position of Treasurer  in both organizations.
The father of four young children, Josh spends his time camping, hiking and traveling with his family. </p>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>