@{
    ViewBag.Title = "The_ICAST_Board";
}

<h2>Learn More About Out ICAST Board Members</h2>
<hr />

<h3>ICAST Board of Directors</h3>
<div class="row">
    <p><img class="imgPlaceholder" src="~/Content/Images/board/Vic-Ahmed.jpg" /><br /><strong>Vic Ahmed</strong><br />Vic Ahmed is a serial entrepreneur who has successfully built several startup companies. He has the gift of translating visions and foresight into companies with specific and sizeable business opportunities. In addition, he has demonstrated the commitment and energy needed to raise angel, venture and private equity funding, assemble world-class teams and transform these visions into reality.</p>
</div>
<div class="row">
    <p>
        <img class="imgPlaceholder" src="~/Content/Images/board/Bruce-Dines.jpg" /><br /><strong>Bruce Dines</strong><br />For the past 4 years, Bruce has served as the Executive Director of TBL Fund, a 501(c)(3) organization headquartered in Denver. The foundation developed a web-based application and database of Carbon Offset Projects and Opportunities. That database now holds more than 3,000 project records representing all 50 states.
    </p>
    <p>
        In addition to serving on the board of TBL Fund, Bruce works for Liberty Global, a Fortune 500 company based in Denver, where he manages technology investments for their corporate venture fund. Prior to that he spent 20 years in the technology and telecommunications field. More than half of those years were spent in earlier stage environments, where Bruce founded companies and led businesses from concept and model development, through capital formation, revenue generation and team-building phases, ultimately realizing successful exits on three different companies. The other half of his career has been spent in mid-size and large corporations, where he has either served as President or Division President, including comCables as President, Northstar Exchange as COO (sold to Construction Software Technologies in 2007), EHPT as President (sold to Ericsson in 2002), and Ericsson Mobile Communications as Division President.
    </p>
    <p>
        Bruce is a 5th generation native of Colorado, with roots going back to the Homestead Act in Colorado Territory. He graduated in 1976 from Stanford University, with a B.S. in Biology, and subsequently earned an M.S. in Ecology.
    </p>
</div>
<div class="row">
    <p><img class="imgPlaceholder" src="~/Content/Images/board/Ravi-Malhotra.jpg" /><strong>Ravi Malhotra</strong><br />As President of ICAST, Ravi Malhotra guides ICAST staff to partner with local communities to utilize local resources for local benefit. Through these partnerships, Mr. Malhotra applies his extensive technology and business building experience to execute on projects that promote local sustainability. He started working on community development shortly after receiving a B. Tech in Engineering from the Indian Institute of Technology (IIT), New Delhi, India, in 1988. Mr. Malhotra spent seven years working as a social entrepreneur developing micro-enterprises using the micro-finance model in India and Africa. He later received an MS in Engineering and an MBA from the University of Texas at Austin. For the past 20 years, Mr. Malhotra has developed and established numerous sustainable projects in the U.S. and internationally. He was a member of the Western Governor Association’s Solar and Bio-energy Task Force.</p>
</div>
<div class="row">
    <p>
        <img class="imgPlaceholder" src="~/Content/Images/board/Thom Amdur.jpg" /><strong>Thomas Amdur</strong><br />Thomas Amdur is the Executive Director of the National Housing & Rehabilitation Association (NH&RA), a professional association of like-minded, successful and driven individuals who are involved in affordable housing, historic rehabilitation and New Markets Tax Credit development. NH&RA provides state-of-the-art information shared openly by leading developers, investors and professionals, and extraordinary opportunities for developing new contacts.
    </p>
    <p>
        Thom runs the day-to-day operations of NH&RA, which includes managing legislative and regulatory advocacy, developing event programming, managing committees, overseeing public relations, communications and membership development, and providing strategic consulting to NH&RA members. He has in-depth knowledge of both association management as well as tax-credit and real estate development.
    </p>
    <p>Previously, Thom was Executive Vice President & Associate Publisher of Tax Credit Advisor for Dworbell, Inc. He has served for a number of additional organizations, including the National Council of Housing Market Analysts, Historic Preservation Development Council, New Markets Tax Credit Council, Council for Energy Friendly Affordable Housing, Maryland Affordable Housing Coalition and DC Preservation League. Thom earned a B.A. in Political Science from Tufts University.</p>
</div>
<div class="row">
    <p>
        <img class="imgPlaceholder" src="~/Content/Images/board/John-Trefney.jpg" /><strong>Dr. John Trefny</strong><br />Dr. John U. Trefny served Colorado School of Mines (CSM) for 29 years, beginning as an assistant professor of physics in 1977 and culminating in his appointment as Mines’ 15th President in 2000.  Prior to his appointment as President, Dr. Trefny served for nearly five years as Vice President for Academic Affairs and Dean of Faculty at CSM.   He also served as Professor of Physics and Head of the Department of Physics.
    </p>
    <p>Dr. Trefny received his undergraduate education at Fordham University and the Ph.D. in Physics from Rutgers University.  Subsequently he held appointments at Cornell University and at Wesleyan University before joining CSM.
    </p>
    <p>Dr. Trefny currently is a member of the Boards of Directors of the Red Rocks Community College Foundation, the Community First Foundation, WorldDenver, and The Mobile Science Show Foundation.  He previously served on the Red Rocks Community College Advisory Council, the Advisory Board of the National Renewable Energy Laboratory, the Board of the Golden Civic Foundation and the Governing Board for the Colorado Community College System, among other.
    </p>
    <p>Dr. Trefny lives in Golden with his wife, Sharon.  </p>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>