
@{
    ViewBag.Title = "The ICAST Team";
}

<div class="row">
    <h2>Meet the ICAST Team</h2>
    <hr style="border-color: green" />
    <h3>Our Team</h3>
    <p>The ICAST team is passionate about the success of our mission. Our staff brings decades of experience managing projects in a sustainable manner. We believe every project is important, and work harmoniously and efficiently to deliver proficiency, knowledge and skill to each one.</p>
    <div class="col-md-12">
        <div class="imgPlaceholder">
            (picture of Ravi)
        </div>
        <strong>Ravi Malhotra</strong><br />
        <i>Founder and President</i><br />
        <p>(303) 462-4100 Ext. 301</p>
        <p>Mr. Malhotra is an experienced engineer and social entrepreneur who has established a variety of sustainable enterprises in India, Africa and the US with an emphasis on sustainable technologies. He has led both award-winning R&D efforts and successful new product launches. Mr. Malhotra holds a Bachelors degree in Engineering from the Indian Institute of Technology and Master’s degrees in both Engineering and Business Administration from the University of Texas at Austin. For the past ten years, he has led ICAST in its programs that have helped hundreds of rural entrepreneurs and businesses with technical assistance, fund raising, marketing, build a management team and business strategy.</p>
    </div>
    
    <div class="col-md-12">
        <strong>Marcia Cohen</strong><br />
        <i>Director of Finance & Administration</i><br />
        <p>(303) 462-4100 Ext. 318</p>
        <p>Marcia leads the financial, accounting and admin. functions of the organization. Prior to ICAST, she worked as a CPA and as a Commercial Banker where she utilized financial statements, tax returns and business plans for loan applications. She has served as a Board Member of several organizations, and is currently the Treasurer for the Association for Training and Development – Rocky Mountain Chapter. Marcia received her Bachelor’s degree in Environmental Science and also has a Masters Degree in Accounting from the University of Denver.</p>
    </div>

    <div class="col-md-12">
        <strong>John Elliott</strong><br />
        <i>ResourceSmart Director</i><br />
        <p>(303) 462-4100 Ext. 323</p>
        <p>John has extensive experience in construction management, project scope development, subcontractor relation, process mapping, systems and procedural development. He has received Bachelor of Science degree from Metro State University (Denver) in Computer Science and Business Management and a Bachelor of Science degree from Colorado State University (Fort Collins) in Natural Resource Management.</p>
        <p>His previous business experience includes being responsible for developing market niches, sales, daily field and office operation, cash flow management, job costing and the company’s profitability.</p>
    </div>

    <div class="col-md-12">
        <strong>Barret Ramey, LEED AP BD+C</strong><br />
        <i>Business Development Executive</i><br />
        </p>(303) 462-4100 Ext. 322</p>
        <p>Barret successfully completed Colorado State University’s Green Building Certificate program and acquired his LEED accreditation shortly after moving to Colorado almost six years ago. He brings many years of Construction Management experience to ICAST and understands the buildings he is helping become more efficient. As a research and development composite technician, he consulted with start-up companies in the manufacturing of composites and advanced materials. He improved a casting process that resulted in a 30% reduction in scrap rates and improved efficiency within weeks of beginning the process. Barret has over four years experience building relationships and finding solutions as a B2B outside sales consultant finding cost-effective solutions to help his customers lower their O&M and maximize savings opportunities. He works with ICAST customers to increase their efficiency and use resources more responsibly in order to grow a more sustainable community for all of us.</p>
    </div>

    <div class="col-md-12">
        <strong>Cindy Wagner</strong><br />
        <i>Senior Project Manager</i><br />
        <p>(303) 462-4100 Ext. 308</p>
    </div>

    <div class="col-md-12">
        <strong>Rob Foley</strong><br />
        <i>Green Rehab Specialist</i><br />
        <p>(303) 941-1500</p>
        <p>Rob delivers broad construction knowledge, experience and passion in managing and motivating quality teams to ICAST projects. As a licensed general contractor, he has managed multiple tasks, and as a sole proprietor, hired and supervised multiple subcontractors and contractors, fiscally managed operational sales and has managed start-up growth throughout his career. At ICAST, Rob has filled multiple roles as a trainer, auditor, and inspector.</p>
    </div>

    <div class="col-md-12">
        <strong>Matt Naughton</strong><br />
        <i>Business Development Executive</i>
        <p>(505) 977-6431</p>
        <p>Matt Naughton, ICAST’s new Business Development Executive in New Mexico, brings very unique experience: a background that ranges from banker to cowboy along with expertise in technology, investment banking, agriculture and construction. More recently, Matt was general manager for a GB98 contracting company in Albuquerque that specializes in servicing multifamily communities. He and his wife moved to New Mexico seven years ago to plant roots in the community where they plan to retire. Matt is an avid outdoorsman and enjoys hiking, fishing, hunting, golf and traveling.</p>
    </div>

    <div class="col-md-12">
        <strong>Carolyn Sheffield</strong><br />
        <i>Executive Assistant</i><br />
        <p>(303) 462-4100 Ext: 309</p>
        <p>Carolyn is the Executive Assistant to the President. She also manages ICAST’s grants and service learning programs. She received her Bachelor of Arts in Liberal Studies from Mary Washington College of the University of Virginia. She has over 20 years of executive-level administrative experience in industries such as healthcare, non-profit and legal as well as federal, state and local government arenas. The experience she brings encompasses successful working relationships as well as technical finesse.</p>
    </div>

    <div class="col-md-12">
        <strong>Dr. John Stahl</strong><br />
        <i>Senior Project Manager</i><br />
        <p>(303) 462-4100 Ext: 303</p>
        <p>Dr. Stahl has over four decades of experience in engineering, process and quality control and related topics.  As a Senior Fellow at ICAST, he has worked on project engineering and process control, measurement and verification and metrics for all programs, as well as quality control for ICAST.  Prior to joining ICAST, Dr. Stahl was Sr. Vice President at a global Data Storage manufacturing company.  He obtained his Bachelor of Science degree in Engineering from the Univ. of Colorado and his Master and PhD from CalTech.</p>
    </div>

    <div class="col-md-12">
        <strong>Ryan Kristoff</strong><br />
        <i>Business Development Coordinator</i><br />
        <p>(303) 462-4100 Ext: 316</p>
        <p>Ryan works in several capacities for ICAST. He works on proposals for grants, preforms a variety of marketing functions and oversees the TBL and Project Sunlight initiatives. Ryan has several years of non-profit development experience and graduated with a Bachelor’s Degree in History and Philosophy from the University of Connecticut. He is passionate about making a positive impact in the world.</p>
    </div>

    <div class="col-md-12">
        <strong>Rachel Stone</strong><br />
        <i>Texas Marketing Consultant</i><br />
        <p>(203)-640-1678</p>
        <p>Rachel first got involved in sustainability when she moved to Austin, TX in 2006 and worked for the Center for Maximum Potential Building Systems, a non-profit green building education and design firm, and at Foundation Communities, an affordable housing provider and the largest private solar owner in Austin. She then attended law school and provided legal services to affordable housing service providers through the Community Development Law Clinic. After graduation, she worked as an Attorney-Adviser for the U.S. Department of Housing and Urban Development in Fort Worth, Texas, before returning to Austin to work in renewable energy and energy efficiency policy. Most recently, she was the Policy Coordinator for the South-Central Partnership for Energy Efficiency as a Resource (SPEER), and serves on the board of Solar Austin, a local non-profit advocating the expansion of local solar.   Rachel has a B.A. from Brown University and a J.D. from the University Of Texas School Of Law. She is excited to join her passions for green building and affordable housing through her new work with ICAST.</p>
    </div>

    <div class="col-md-12">
        <strong>Theresa Green</strong><br />
        <i>Accountant</i><br />
        <p>(303) 462-4100  Ext: 304</p>
        <p>Theresa has twenty years of experience in accounting working with both small and large companies in various sectors to improve efficiency, productivity, and effectiveness; and an entrepreneur having owned several businesses bringing her “BIG PICTURE” outlook to Sustainability.   She received her Bachelors of Business Administration from Saint Edward’s University in Austin, Texas.</p>
    </div>

    <div class="col-md-12">
        <strong>Larry Simmons</strong><br />
        <i>Senior Fellow</i><br />
        <p>(303) 462-4100 Ext: 315</p>
        <p>Larry is a results oriented senior operations executive with over 20 years of practical, multi-functional, "hands-on" leadership experience. He approach is an "operations concept" with a strong record in successfully assisting rapidly growing companies and business start-ups manage growth, productivity, and profitability.  He has expertise in process engineering, productivity, budgeting and systems automation, as well as strategic program design, development and implementation encompassing diverse industries.  His key strengths lie in operations management, strategic conceptualization and planning, business plan creation and implementation, capital and operating budget development, organizational analysis and change management, staff training and development, and operational control center design.</p>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-8">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>

