
@{
    ViewBag.Title = "Who We Are";
}

<div class="row">
    <h2>International Center for Appropriate and Sustainable Technology</h2>
    <hr />
    <h3>Who We Are</h3>
    <p>ICAST is a 501(c)(3) nonprofit organization. We develop and implement market-based solutions for the issues that plague underserved and rural communities. Our projects promote community development through solutions in the clean energy and resource utilization space.</p>
    <h3>Our Mission</h3>
    <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity.</p>
    <h3>How We Work</h3>
    <p>ICAST is more than a think tank; we consider ourselves a “do tank.” We believe communities need new solutions to solve their environmental, social and economic issues. And so we create and execute unique new programs that utilize public-private partnerships, social enterprises and fresh thinking.</p>
    <h3>Core Values</h3>
    <ul>
        <li>Make triple bottom-line impacts</li>
        <li>Create real-world solutions that improve people’s lives</li>
        <li>Build local capacity through our projects</li>
        <li>Implement solutions in a cost-effective manner</li>
        <li>Educate people on sustainability in a way that motivates them to take action</li>
        <li>Work with integrity</li>
    </ul>
    <h3>Our Impact</h3>
    <p>Give a man a fish and you feed him for a day. Teach a man to fish and you feed him for a lifetime.
Our focus is building healthier communities. Our impact is a healthier planet.</p>
</div>

<div class="row">
    <hr />
    <div class="col-md-8">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>