
@{
    ViewBag.Title = "Connect_with_ICAST";
}

<div class="row text-center">
    <h2>Engage, Share, Support the Triple Bottom Line Movement</h2>
    <hr />
    <h3>Connect with ICAST Today!</h3>
        <div class="col-md-6 text-center">
            <h4>See what ICAST is talking about</h4>
            <a href="#"><span class="fa fa-facebook-square fa-5x"></span></a>
            <a href="#"><span class="fa fa-twitter-square fa-5x" style="color:aqua"></span></a>
            <a href="#"><span class="fa fa-linkedin-square fa-5x"></span></a>
        </div>
        <div class="col-md-6 text-center">
            <h4>See what Project Sunlight is talking about</h4>
            <a href="#"><span class="fa fa-facebook-square fa-5x"></span></a>
            <a href="#"><span class="fa fa-twitter-square fa-5x" style="color:aqua"></span></a>
            <a href="#"><span class="fa fa-linkedin-square fa-5x"></span></a>
        </div>
</div>
<div class="row text-center">
    <h2>Find out what ICAST is working on and how we make an impact</h2>
    <hr />
    <a href="#"><img src="~/Content/Images/blue-resource-smart(1).png" /></a>
    <a href="#"><img src="~/Content/Images/blue-project-sunlight(1).png" /></a>
    <a href="#"><img src="~/Content/Images/TBL FUND ICAST LANDING.png" /></a>
</div>

<div class="row text-center">
    <h3>PEOPLE. PLANET. PROSPERITY.</h3>
    <strong>
        ICAST focuses on Triple Bottom Line solutions and works to maximize its impact across
        environmental, social and financial spheres through the projects that it utilizes; ResourceSmart,
        Project Sunlight, and our Triple Bottom Line Foundation<br />
    </strong>
    <H2>Interested in <a href="#">Volunteering</a>? We would love to have you.</H2><br />
    <a href="#"><h2>Donate</h2></a>
</div>
