
@{
    ViewBag.Title = "Donate";
}

<h2>Get Involved and Donate to Our Cause</h2>
<hr />
<p>
    <a href="http://www.coloradogives.org/index.php?section=organizations&action=newDonation&fwID=28043" target="_blank"><img class="img-left" src="~/Content/Images/donation(1).jpg" /></a>
    To help ICAST further our mission to positively impact our local communities, we ask for your contribution to support our many projects designed to help those in need. For every $100 in donations ICAST receives, we can provide a low-income, senior or disabled family with energy efficiency improvements that will save them $80 each year in their utility bills for the next 20 years. That translates to $1,600 of real savings over the lifetime of a $100 donation.
    </p>
    <p>Your tax-deductible donation supports ICAST’s work in communities. Contributions from individuals and organizations have helped develop businesses and infrastructure based on the sustainable use of local resources. These projects create new jobs, protect the environment and enhance the quality of life for the residents of communities that are threatened by the loss of economic, human and natural assets.
    </p>
    <p>We greatly appreciate your help in making what we love to do possible.  Help us change the world today!

</p>