
@{
    ViewBag.Title = "Jobs";
}

<h2>Get Involved and Learn About Available Jobs</h2>
<hr />
<strong>If you want to come to work every day knowing that the work you do is helping communities across the globe, then consider making ICAST your career!</strong>
<br /><br />
Please request more information <a href="#">HERE</a>

<div class="row">
    <hr />
    <div class="col-md-8">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>