
@{
    ViewBag.Title = "Volunteer";
}

<h2>Get Involved and Start Volunteering or Interning</h2>
<hr />

<div id="contactUs" class="col-md-4" style="float: right; right: 100px; position: absolute">
    <div class="container">
        <form method="post">
            <h3>Contact us now:</h3>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter name" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="tel" placeholder="Enter phone number" id="phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="email" placeholder="Enter email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <textarea class="form-control" rows="7" cols="50" id="comment" placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-info">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                If you’re looking for a volunteer or intern opportunity that is unique and creative, then consider donating your time and expertise to ICAST. If you truly want to support a cause that focuses on helping under-served communities achieve sustainability, along with a better quality of life, then ICAST is the place for you. Lending us your talents will greatly help us fulfill our goals in the communities we serve—and also help you feel good!
            </p>            If you are interested in volunteer or intern opportunities with ICAST, please let us know:
            <ul>
                <li>What interests you about ICAST</li>
                <li>What you hope to contribute to our organization</li>
                <li>Your unique skills</li>
                <li>Approximate hours you can commit per week</li>
            </ul>
            <h3>Current Volunteer and Intern Opportunities</h3>
            <hr />
            We are currently seeking individuals to support our new nonprofit bank, <a href="http://www.tblfund.org" target="_blank">www.tblfund.org</a>, and our program to make green improvements for affordable housing, <a href="http://www.resourcesmart.org" target="_blank">www.resourcesmart.org</a>.  We are seeking expertise and assistance in the areas of business planning, engineering, data analysis, market research, graphic design and video production.
        </div>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>