
@{
    ViewBag.Title = "Success_Stories_Awards";
}

<h2>Our Latest Awards and Accolades</h2>
<hr />

<div id="contactUs" class="col-md-4" style="float: right; right: 100px; position: absolute">
    <div class="container">
        <form method="post">
            <h3>Contact us now:</h3>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter name" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="tel" placeholder="Enter phone number" id="phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="email" placeholder="Enter email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <textarea class="form-control" rows="7" cols="50" id="comment" placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-info">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul style="list-style-type:none">
                <li>
                    <strong>2013</strong><br />
                    Xcel Energy Award for Heating Efficiency<br />
                    <i>– Awarded to Rifle Housing</i><br /><br />
                </li>
                <li>
                    <strong>2011</strong><br />
                    USDA’s “Most Improved Complex in Colorado”<br />
                    <i>– Awarded to Sunnyside Retirement Center</i><br /><br />
                </li>
                <li>
                    <strong>2010</strong><br />
                    Interstate Renewable Energy Council’s “Renewable Energy Innovation Award”<br />
                    <i>– for Pilot Program for Small Wind Turbine Installations in Agricultural Applications for Rural Eastern Colorado</i><br /><br />
                </li>
                <li>
                    <strong>2009</strong><br />
                    City of Lakewood’s “Entrepreneur of the Year”<br />
                    <i>– Ravi Malhotra, “for envisioning the needs of the future”</i><br /><br />
                </li>
                <li>
                    <strong>2008</strong><br />
                    Sustainable Business’s Medal of Honor<br />
                    <i>– “Silver Level: On the Journey to Sustainability”</i><br /><br />
                </li>
                <li>
                    <strong>2006</strong><br />
                    Colorado Alliance for Environmental Education’s “Higher Education Environmental Education Award”<br />  
                    <i>– to ICAST Service Learning Program</i><br />
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>

