
@{
    ViewBag.Title = "Success_Stories_Case_Studies";
}

<h2>ICAST Case Studies</h2>
<hr />

<div id="contactUs" class="col-md-4" style="float: right; right: 100px; position: absolute">
    <div class="container">
        <form method="post">
            <h3>Contact us now:</h3>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter name" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="tel" placeholder="Enter phone number" id="phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="email" placeholder="Enter email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <textarea class="form-control" rows="7" cols="50" id="comment" placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-info">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ol>
                <li>
                    <img class="img-right" src="~/Content/Images/CaseStudy/green-property-rehab-renovation-dma.jpg" />
                    <h3>DMA Plaza, Inc.</h3>
                    <strong>Background and Objectives</strong>
                    <p>In 2010, DMA Plaza management sought to address the rising cost of electricity at its facility. The 11-story building contains 126 units, of which 50 are reserved for assisted living. Objectives for the project were to reduce electricity consumption to hedge against rising costs and improve resident comfort.</p>
                    <a href="~/Content/Images/CaseStudy/green-property-rehab-renovation-dma-study.pdf" target="_blank">Click here to read the full study</a>
                </li>
                <li>
                    <img class="img-right" src="~/Content/Images/CaseStudy/green-property-rehab-renovation-detf.jpg" />
                    <h3>Douglas Elbert Task Force</h3>
                    <strong>Background and Objectives</strong>
                    <p></p>The Douglas Elbert Task Force is a nonprofit organization dedicated to serving economically disadvantaged individuals in Douglas and Elbert Counties, Colorado. In 2012, the organization sought to reduce its operating costs through the installation of upgrades to its 18,653-square-foot facility in Castle Rock.</p>
                    <a href="~/Content/Images/CaseStudy/green-property-rehab-renovation-detf-study2.pdf" target="_blank">Click here to read the full study</a>
                </li>
                <li>
                    <img class="img-right" src="~/Content/Images/CaseStudy/green-property-rehab-renovation-rha.jpg" />
                    <h3>Rifle Housing Authority</h3>
                    <strong>Background and Objectives</strong>
                    <p>Faced with rising utility prices, Rifle Housing Authority (RHA) sought to upgrade its complex of 27 quadplex apartment buildings. This 30 year old facility consists of 106 units and 3 common areas in total. The objectives for the project were to reduce gas and electricity consumption to reduce utility bills, hedge against rising energy costs, and to deliver increased comfort to residents.</p>
                    <a href="~/Content/Images/CaseStudy/green-property-rehab-renovation-rha-study.pdf" target="_blank">Click here to read the full study</a>
                </li>
            </ol>
        </div>
    </div>

</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>

