@{
    ViewBag.Title = "Program_Success";
}

<h2>Our Program Successes</h2>
<hr />

<div id="contactUs" class="col-md-4" style="float: right; right: 100px; position: absolute">
    <div class="container">
        <form method="post">
            <h3>Contact us now:</h3>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter name" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="tel" placeholder="Enter phone number" id="phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="email" placeholder="Enter email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <textarea class="form-control" rows="7" cols="50" id="comment" placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-info">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Main Street Power</h3>
            <p>
                Main Street Power Company, Inc. was formed in 2009 as a spin-off from ICAST. From the beginning, the company followed the ICAST mission of triple bottom-line impacts by developing many of its early projects in partnership with workforce development programs and in low-income communities. Main Street Power has since broadened its effort to include over 50MW of projects spread over 1,000 sites in North America. The company remains committed to its original environmental, economic and social values, as evidenced by its recent three-star certification by the B-labs global impact investing rating organization (GIIRS).
            </p>
            <a href="http://www.mainstreetpower.com/about">Learn more about Main Street Power</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Solar Water Pumping Solutions for Tunisian Farmers</h3>
            <p>Throughout Tunisia, farmers employ diesel-powered pumps to move irrigation water. Rising fossil fuels prices directly impact the farmers’ profitability – but they also open the door to another market-based solution. ICAST Tunisia has designed solar-powered water pumps that eliminate the need for diesel fuel. The savings realized on diesel fuel are sufficient to repay loans taken out by the farmers to purchase and install the new pumps. When these loans are repaid, the savings continue, and the farmers can use them to upgrade equipment, fund additional energy efficiency projects and other positive benefits.</p>
            <a href="http://www.icasttunisia.org/en/">Learn more about ICAST International</a>
        </div>
    </div>
</div>


<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>

