@{
    ViewBag.Title = "Testimonials";
}

<h2>Testimonials</h2>
<hr />
<div id="contactUs" class="col-md-4" style="float: right; right: 100px; position: absolute">
    <div class="container">
        <form method="post">
            <h3>Contact us now:</h3>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter name" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="tel" placeholder="Enter phone number" id="phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="email" placeholder="Enter email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <textarea class="form-control" rows="7" cols="50" id="comment" placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-info">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <h3><i>Sunnyside Retirement Center</i></h3>
        <div class="col-md-8">
            <p>
                In 2010 Sunnyside Retirement Center underwent an energy audit. We were awarded grants that began Phase 1 of a two part upgrade to our facility. We now know how fortunate we were to be offered energy upgrades financed by grants and organized by ICAST.
            </p>
            <p>
                We have seen savings with electrical bills due to new efficiency lighting, however, the gas heat bills are what continue to amaze us.
            </p>
            <p>
                We are enjoying an amazing savings of over $5,000 in our yearly bills. We understand that savings can fluctuate due to the outside temperatures during a winter season but the last two yearly totals are showing consistency.
            </p>
            <p>
                We are very happy with the new boilers and water heaters. We feel blessed to have been awarded these grants with the help of  ICAST.
            </p>
            <div class="text-right">
                <strong>Margie Trebesh</strong><br />
                Finance Manager<br />
                Sunnyside Retirement Center
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “ICAST is synonymous with professionalism in every sense of the word.  From the energy audit that was conducted, they are presenting us with several options which will enable us to upgrade our facility and make better use of our funds which is a win-win for us.”
            </i><br /><br />
            <div class="text-right">
                <strong>Frank Proffer</strong><br />
                Senior Pastor<br />
                First Baptist Church<br />
                Pueblo, CO
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “Once the retrofit was completed, we started saving money on energy costs, which means more money can be spent towards our organization’s mission.”
            </i><br /><br />
            <div class="text-right">
                <strong>Paul Major</strong><br />
                President and CEO of Telluride Foundation
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “From beginning to end ICAST handled all aspects of our energy upgrade. Most impressive is the promise they made (and kept) to us that our usage would decrease—it did! We would not only use ICAST again but recommend them to others.”
            </i><br /><br />
            <div class="text-right">
                <strong>Natalie Bowman</strong><br />
                Executive Director<br />
                Rifle Housing Authority
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “We deal with numerous owners and various opinions at Bear Creek but the energy assessment team at ICAST has been great about providing information to the homeowners and HOA board about the return of investment and other benefits to energy efficiency.”
            </i><br /><br />
            <div class="text-right">
                <strong>Keiffer Parrino</strong><br />
                General Manager<br />
                Bear Creek Lodge of Telluride
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “Although it was difficult to work around the children when school was in session, the auditors and technicians were very respectful and did a great job!”
            </i><br /><br />
            <div class="text-right">
                <strong>Greta Shackelford</strong><br />
                Little Red Schoolhouse
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “One of our employees who is very sensitive within hours said, ‘Oh, this is so much more comfortable! Why haven’t we done this years before?’”
            </i><br /><br />
            <div class="text-right">
                <strong>Todd Brown</strong><br />
                Operations Manager<br />
                ASAP Accounting & Payroll Services
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <i>
                “The United Methodist Church in Ordway utilized the services provided by ICAST to perform energy efficiency upgrades at our church.  The results of the upgrades have greatly increased the comfort for everyone and the energy savings of approximately $200 per month have allowed us to easily make our loan payments.
                ICAST performed the work very quickly and efficiently and we were very pleased.
            </i><br /><br />
            <div class="text-right">
                <strong>DeEtta Goettel</strong><br />
                Minister<br />
                United Methodist Church<br />
                Ordway, CO
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>

