@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <p>ICAST&trade; (International Center for Appropriate and Sustainable Technology) is a 501(c)(3) nonprofit organization. We develop and implement market-based solutions for issues that plague underserved communities. Our projects promote sustainable community development by creating social enterprises in the clean energy and resource utilization space. </p>
    <h2>The ICAST Approach</h2>
    <p>ICAST is more than a think tank; we consider ourselves a “do tank.” We believe communities need new solutions to solve their environmental, social and economic issues. And so we create and execute unique new programs that utilize public-private partnerships, social enterprises and fresh thinking. Our current programs are below:</p>
</div>

<div class="row">
    <a href="http://www.resourcesmart.org" target="_blank">
        <div class="col-md-3">
            <div class="imgPlaceholderHome">
                (picture of a family)
            </div>
            <h3>ResourceSmart</h3>
            <p>
                Green Building Upgrades
            </p>
        </div>
    </a>
    <a href="http://www.project-sunlight.com" target="_blank">
        <div class="col-md-3">
            <div class="imgPlaceholderHome">
                (picture of a granddaughter and grandpa)
            </div>
            <h3>Project Sunlight</h3>
            <p>Preserving Affordable Housing</p>
        </div>
    </a>
    <a href="http://www.tblfund.org" target="_blank">
        <div class="col-md-3">
            <div class="imgPlaceholderHome">
                (picture of people behind a cart)
            </div>
            <h3>TBL Fund</h3>
            <p>Financing Green Projects</p>
            </div>
    </a>
    <a href="#">
        <div class="col-md-3">
            <div class="imgPlaceholderHome">
                (picture of a person handing a certification to a lady)
            </div>
            <h3>Green Certifications</h3>
            <p>ENEREY STAR Certified</p>
        </div>
    </a>
</div>

<div class="row">
    <h2>The Latest News and Information from ICAST</h2>
    <hr />
    <h4>November Executive Night Speaker Series</h4>
    Oct 8, 2015<br />
    (picture of 3 executives)<br />
    <strong>“The Next Stage of Impact Investing”</strong><br />
    <p>Over the past few years the concept of divestment has gained notable support from individuals, businesses, universities and institutional investors. The divestment process aims to make a statement with the absence of financial support to certain industries, but once divested, investors are faced with the question of where and how to re-invest responsibly. This Speaker Series will focus on the changing concept of impact investing, how its strategies are becoming more sophisticated, and how investing can provide social, environmental, and economic benefits, all at once. Join the discussion with our panel of senior level executives to explore the growing space of impact investment. Click here for more info and to RSVP </p>
    <hr />
    <h4>Join us for October's Executive Night Speaker Series</h4>
    Sept 25, 2015<br />
    (picture of 3 people)<br />
    This month's event is entitled <strong>“Job Outlook for 2015”</strong><br />
    <p>Despite the improved economic performance, the job market has continued to be soft. Martin Pocs will help untangle the current and future job market conditions highlighting the jobs in demand and the industries in which they occur. In addition, Matt Most, the Vice President for EnCana Oil and Gas will discuss the careers within EnCana.</p>
    <p><a href="#">Click here</a> for event information and details. </p>
    <hr />
    <h4>ICAST Finance Volunteer Needed</h4>
    Aug 31, 2015<br />
    (picture of hands holding the sun)<br />
    <p>Finance/Accounting Volunteer needed to craft a business plan for ICAST's Triple Bottom Line Foundation. Click here for more information </p>
</div>

<div class="row text-center">
    <a href="#"><span class="glyphicon glyphicon-inbox fa-2x"></span></a>
    <a href="#"><span class="glyphicon glyphicon-calendar fa-2x"></span></a>
    <a href="#"><span class="glyphicon glyphicon-list fa-2x"></span></a>
    <a href="http://twitter.com/ICASTusa"><span class="fa fa-twitter fa-2x"></span></a>
    <a href="https://www.facebook.com/icastusa"><span class="fa fa-facebook fa-2x"></span></a>
    <a href="https://plus.google.com/110678628120966349089/about?hl=en"><span class="fa fa-google-plus fa-2x"></span></a>
    <a href="#"><span class="fa fa-rss fa-2x"></span></a>
    <a href="#"><span class="fa fa-share-alt fa-2x"></span></a>
</div>