@{
    ViewBag.Title = "Green_Certifications";
}

<h2>ENERGY STAR Certification for Your Building</h2>
<hr />

<div id="contactUs" class="col-md-4" style="float: right; right: 100px; position: absolute">
    <div class="container">
        <form method="post">
            <h3>Contact us now:</h3>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter name" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="tel" placeholder="Enter phone number" id="phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="email" placeholder="Enter email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <textarea class="form-control" rows="7" cols="50" id="comment" placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-info">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="imgPlaceholderCert" src="~/content/images/energy star logo.jpg" />
            <p>ICAST has partnered with the Environmental Protection Agency to offer ENERGY STAR certification for green building upgrades and retrofits.
            </p>
            <p>The ENERGY STAR program was created in 1992 as part of the Clean Air Act mandate to "conduct a basic engineering research and technology program to develop, evaluate, and demonstrate non–regulatory strategies and technologies for reducing air pollution." Now ICAST has been recognized as a participant in this effort—and we want our customers and partners to be recognized, too!
            </p>
            <p>We will use the ENERGY STAR rating of 1-100 to rate your building’s energy efficiency. Simply <a href="@Url.Action("Contact", "Home")">contact us</a> to assess and rate your building.
            </p>
            <p>If you would like to learn more about the tremendous benefits of green energy upgrades so you can brand your building as ENERGY STAR-certified, visit our <a href="http://www.resourcesmart.org/">ResourceSmart</a> program for affordable upgrades.</p>
        </div>
    </div>
    <div class="row">
        <h2>ICAST Green Certification</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
        <img class="imgPlaceholderPlat" src="~/Content/Images/Kappa Towers certificate energy reduction-page-001.jpg" />
            <p>ICAST also certifies projects which make significant improvements in energy efficiency. These certificates are provided to those who undergo green rehab through ICAST’s ResourceSmart Program.
            </p>
            <p>These certifications are graded by energy reduction level based on the green rehab project completed. These grades range from: Platinum 35% & Greater, Gold 26-35%, Silver 16-25%, Bronze 5-15% in energy reduction.
            </p>
            <p>If you would like to learn more about the tremendous benefits of green energy upgrades so you can brand your building as ENERGY STAR-certified, visit our <a href="http://www.resourcesmart.org">ResourceSmart</a> program for affordable upgrades.</p>
        </div>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>