@{
    ViewBag.Title = "Training_and_Resources";
}

<h2>Training and Resources</h2>
<hr />
<div class="row">
    <h3>Training</h3>
    <div class="col-md-12">
        <img class="imgPlaceholderTrain" src="~/Content/Images/Training/icast-training.png" />
        <p>
            ICAST is a Technical Assistance Provider for both TDA (Training & Development Associates) and Enterprise Community Partners and works in this capacity to provide expertise and training in sustainable energy initiatives, energy efficiency upgrades and green financing. ICAST has provided training for a variety of its partners since its conception and works to further education on the importance and utilization of sustainable technology.
        </p>
        <p>ICAST makes much of its training available to those who are interested and can be found on our <a href="https://www.youtube.com/playlist?list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0">YouTube Channel</a>. </p>
    </div>
    <div class="row">
        <h4>Energy Efficiency Trainings</h4>
    </div>
    <div class="col-md-6">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=v_u4TfW2V-s&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=1">Residential Energy Professional Course Overview</a></li>
            <li><a href="https://www.youtube.com/watch?v=JDKXtN1t0xQ&index=8&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0">Course Introduction- Residential Energy Training Series</a></li>
            <li><a href="https://www.youtube.com/watch?v=MXDtLYdt42w&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=2">What Can You Expect from An Energy Assessment?</a></li>
            <li><a href="https://www.youtube.com/watch?v=iedeztYhp7k&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=3">Building Science pt. 1</a></li>
            <li><a href="https://www.youtube.com/watch?v=F5PgRCoz6XA&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=7">Buliding Science pt. 2</a></li>
            <li><a href="https://www.youtube.com/watch?v=o1LS-dOr56Y&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=4">The Residential Energy Auditing Process</a></li>
            <li><a href="https://www.youtube.com/watch?v=9ys2DGyaZXg&index=5&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0">Consumer Education</a></li>
            <li><a href="https://www.youtube.com/watch?v=NCH1Ti4XjHs&index=7&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0">Calculating Area, Perimeter and Volume of a Building Project</a></li>
            <li><a href="https://www.youtube.com/watch?v=RYWeyra1wxM&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=9">Calculating Financial Return</a></li>
            <li><a href="https://www.youtube.com/watch?v=F4MOD5jm6uw&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=10">Calculating Heat Loss</a></li>
            <li><a href="https://www.youtube.com/watch?v=JpvJIXDtcg8&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=11">Presenting Audit Report Findings</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=UBmeyultBJc&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=12">Health & Safety</a></li>
            <li><a href="https://www.youtube.com/watch?v=-JA109gjeO0&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=13">The Thermal Envelope</a></li>
            <li><a href="https://www.youtube.com/watch?v=8DGANEB2ktc&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=14">Insulation and Air Sealing: Application and Installation</a></li>
            <li><a href="https://www.youtube.com/watch?v=nygpLzI5x1w&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=15">Insulation and Air Sealing: Classroom</a></li>
            <li><a href="https://www.youtube.com/watch?v=YPPDDxJKiZM&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=16">Windows & Doors</a></li>
            <li><a href="https://www.youtube.com/watch?v=NQIAjWLb1y8&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=17">Appliance & Lighting Efficiency Demonstration</a></li>
            <li><a href="https://www.youtube.com/watch?v=w_moxMH6bkA&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=23">Appliances, Lighting, & Small Electronics</a></li>
            <li><a href="https://www.youtube.com/watch?v=ienXYPshWTA&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=18">Heating, Ventilation and Air Conditioning</a></li>
            <li><a href="https://www.youtube.com/watch?v=nRJ2tz0492g&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=19">HVAC Workshop</a></li>
            <li><a href="https://www.youtube.com/watch?v=esjNO9l-mvg&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=20">Residential Professional Energy Career Panel: Part 1</a></li>
            <li><a href="https://www.youtube.com/watch?v=4J5LmXs89dE&list=PLXqLGKsp_1pHPw68SvJLEhAuNIhRpBbs0&index=21">Residential Professional Energy Career Panel: Part 2</a></li>
        </ul>
    </div>
    <div class="row">
        <h4>Executive Night Speaker Series</h4>
    </div>
    <div class="col-md-12">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=Y-O3-cBg-CY&list=PLXqLGKsp_1pEDVQQLTefu6SypgUfaAdji&index=1">ICAST Executive Speaker Series March 2013 - Fort Collins Utility</a></li>
            <li><a href="https://www.youtube.com/watch?v=xJvfxbmhMOw&list=PLXqLGKsp_1pEDVQQLTefu6SypgUfaAdji&index=2">ICAST Executive Speaker Series March 2013 - CO Rural Electric Association</a></li>
            <li><a href="https://www.youtube.com/watch?v=UST5Hu3wxaA&list=PLXqLGKsp_1pEDVQQLTefu6SypgUfaAdji&index=3">ICAST Executive Speaker Series March 2013 - Questions and Answers</a></li>
        </ul>
    </div>
        <h3>Resources and Materials</h3>
    <div class="col-md-12">
        <img class="imgPlaceholderTrain" src="~/Content/Images/Training/icast-resources.jpg" />
        <p>ICAST has produced multiple resources for its partners and created materials to be used as tools for in its work to provide energy efficiency enhancements, green technology training, and financing to preserve affordable housing.
        </p>
        <p>ICAST makes these materials available to others as to create the greatest impact in the field of energy efficiency and sustainability as possible.</p>
    </div>
    <div class="col-md-6">
        <h4>Energy Efficiency</h4>
        <ul>
            <li><a href="~/Content/textFiles/Achieving High Energy Savings in Multifamily Properties.pdf" target="_blank">Achieving High Energy Savings in Multifamily Properties</a></li>
            <li><a href="~/Content/textFiles/Making Multifamily Properties Energy Efficient.pdf" target="_blank">Making Multifamily Properties Energy Efficient</a></li>
            <li><a href="~/Content/textFiles/Financing Green Rehab for MF properties.pdf" target="_blank">Financing Green Rehab for Multifamily Properties</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Renewable Energy</h4>
        <ul>
            <li><a href="~/Content/textFiles/Biodiesel.pptx">Biodiesel</a></li>
            <li><a href="~/Content/textFiles/Cow Power.pdf" target="_blank">Cow Power</a></li>
            <li><a href="~/Content/textFiles/NetZero Greenhouse Design.pdf" target="_blank">NetZero Greenhouse Design</a></li>
            <li><a href="~/Content/textFiles/Using Local Resources for Local Benefit.pptx">Using Local Resources for Local Benefit</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Entrepreneurship</h4>
        <ul>
            <li><a href="~/Content/textFiles/ICAST Glossary.pdf">Glossary of Terms</a></li>
            <li><a href="~/Content/textFiles/Business Planning for Rural Entrepreneurs.pdf" target="_blank">Business Planning for Rural Entrepreneurs</a></li>
            <li><a href="~/Content/textFiles/Micro-Entrepreneur Training Manual.pdf" target="_blank">Training Manual for Micro-Entrepreneurs</a></li>
            <li><a href="~/Content/textFiles/Helping Remove Challenges and Barriers for a Small Business.ppt">Helping Remove Challenges and Barriers for a Small Business</a></li>
            <li><a href="~/Content/textFiles/Qualities of a Successful Entrepreneur.pptx">Qualities of a Successful Entrepreneur</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Economic Development and Business Incubation</h4>
        <ul>
            <li><a href="~/Content/textFiles/Community Economic Development.pptx">Community Economic Development</a></li>
            <li><a href="~/Content/textFiles/Rural Business Incubators.pptx">Marketing Business Incubators</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-8" style="height:100%">
        <p>ICAST provides economic, environmental, and social benefits to communities in a manner that builds local capacity. We will bring together funding for projects and even help manage it with our local partners.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success" href="tel:3034624100">Call - 303-462-4100</a>
        <a class="btn btn-success" href="#">Back to the top</a>
    </div>
    <hr />
</div>