@{
    ViewBag.Title = "ICAST_News";
}

<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="keyword" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Go</button>
            </span>
        </div>
    </div>
    <div class="col-md-8 text-right">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous"><span aria-hidden="true" class="fa fa-backward"></span></a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li>
                    <a href="#" aria-label="Next"><span aria-hidden="true" class="fa fa-forward"></span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br />
<div class="jumbotron">
    <h2>November Executive Night Speaker Series</h2>
    posted: October 8, 2015 <a href="#">Share this <span class="fa fa-share-alt-square green"></span></a>
    <br /><br />
    <div class="minTron">
        <img class="img-left" src="~/Content/Images/NovExeNiteSpeakerSeries.png" />
        <strong>“The Next Stage of Impact Investing”</strong><br /><br />
        <p>Over the past few years the concept of divestment has gained notable support from individuals, businesses, universities and institutional investors. The divestment process aims to make a statement with the absence of financial support to certain industries, but once divested, investors are faced with the question of where and how to re-invest responsibly. This Speaker Series will focus on the changing concept of impact investing, how its strategies are becoming more sophisticated, and how investing can provide social, environmental, and economic benefits, all at once. Join the discussion with our panel of senior level executives to explore the growing space of impact investment. <a href="~/Content/textFiles/Executive Night Speaker Series - Nov 2015(2).pdf" target="_blank">Click here</a> for more info and to RSVP</p>
    </div>
    <a href="#"><span class="fa fa-star yellow"></span></a>
    <a href="#"><span class="fa fa-link white"></span></a>
</div>

<div class="jumbotron">
    <h2>Join us for October's Executive Night Speaker Series</h2>
    posted: September 25, 2015 <a href="#">Share this <span class="fa fa-share-alt-square green"></span></a>
    <div class="minTron">
        <img class="img-left" src="~/Content/Images/OctExeNiteSpeakerSeries.jpg" />
        <strong>This month's event is entitled "Job Outlook for 2016".</strong><br /><br />
        <p>
            Despite the improved economic performance, the job market has continued to be soft. Martin Pocs will help untangle the current and future job market conditions highlighting the jobs in demand and the industries in which they occur. In addition, Matt Most, the Vice President for EnCana Oil and Gas will discuss the careers within EnCana.
        </p>
        <p><a href="~/Content/textFiles/Executive Speaker Series -- October 5  2015(1).pdf" target="_blank">Click here</a> for event information and details</p>
    </div>
    <a href="#"><span class="fa fa-star yellow"></span></a>
    <a href="#"><span class="fa fa-link white"></span></a>
</div>

<div class="jumbotron">
    <h2>ICAST Finance Volunteer Needed</h2>
    posted:  August 31, 2015 <a href="#">Share this <span class="fa fa-share-alt-square green"></span></a>
    <div class="minTron">
        <img class="img-left" src="~/Content/Images/VolunteerNeeded.jpg" />
        <p>Finance/Accounting Volunteer needed to craft a business plan for ICAST's Triple Bottom Line Foundation. <a href="~/Content/textFiles/CDFI Business Plan Finance Volunteer Position.docx">Click here</a> for more information</p>
    </div>
    <a href="#"><span class="fa fa-star yellow"></span></a>
    <a href="#"><span class="fa fa-link white"></span></a>
</div>

<div class="text-center">
    <nav>
        <ul class="pagination" style="margin-top: 0">
            <li>
                <a href="#" aria-label="Previous"><span aria-hidden="true" class="fa fa-backward"></span></a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>
                <a href="#" aria-label="Next"><span aria-hidden="true" class="fa fa-forward"></span></a>
            </li>
        </ul>
    </nav>
</div>

